<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- hibernate dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- JDBC connection properties (begin) -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flog</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">147852</property>
    <!-- JDBC connection properties (end) 
    <property name="hbm2ddl.auto">create</property>
    -->
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="􀁮􀀑􀀒􀀓􀀔􀀕􀀖􀀗􀀓􀀇􀀤􀀖􀀤􀁮􀀓􀀇􀁯􀀦􀀓􀉩􀃘􀁯􀀓􀀔􀂊􀉩􀀤􀀖􀀤􀁮􀀓􀁮􀀑􀀒􀀓􀀔􀀕􀀖􀀗􀀓􀀇􀀤􀀖􀀤􀁮􀀓􀀇􀁯􀀦􀀓􀉩􀃘􀁯􀀓􀀔􀂊􀉩􀀤􀀖􀀤􀁮􀀓􀁮􀀑􀀒􀀓􀀔􀀕􀀖􀀗􀀓􀀇􀀤􀀖􀀤􀁮􀀓􀀇􀁯􀀦􀀓􀉩􀃘􀁯􀀓􀀔􀂊􀉩􀀤􀀖􀀤􀁮􀀓􀁮􀀑􀀒􀀓􀀔􀀕􀀖􀀗􀀓􀀇􀀤􀀖􀀤􀁮􀀓􀀇􀁯􀀦􀀓􀉩􀃘􀁯􀀓􀀔􀂊􀉩􀀤􀀖􀀤􀁮􀀓hibernate.cache.use_query_cache">true</property>
    
		<mapping class="cn.hexiao.flog.entity.Bookmark" />
		<mapping class="cn.hexiao.flog.entity.Category" />
		<mapping class="cn.hexiao.flog.entity.Comment" />
		<mapping class="cn.hexiao.flog.entity.Post" />
		<mapping class="cn.hexiao.flog.entity.User" />
	</session-factory>
</hibernate-configuration>